
<main class="wrapper col-md-6" ng-controller="ActsController">
    <div id="wrapperOne">
        <h3>The Shadow Rune</h3>
        <div class="icon row">
            <div class="hero col-md-3">Hero Victory</div><div class="col-md-3"><img src="../../assets/pictures/shield.png" alt="heroes" class="hero-win"></div>
            <div class="overlord col-md-3">Overlord Victory</div><div class="col-md-3"><img src="../../assets/pictures/skull.png" alt="overlord win" class="overlord-win"></div>
        </div>
    </div>

    <br>
    <div id="wrapperTwo" class="main-boxes">
        <div class="right-pane-top col-md-3"><img src="../../assets/pictures/shield.png" class="hero-pic">First Blood<img src="../../assets/pictures/skull.png" class="overlord-pic"></div>
    </div>

    <div id="wrapperThree" class="main-boxes">
       <br><br> <div class="act-one">I</div><div class="top-pane"><img src="../../assets/pictures/shield.png" class="hero-pic">A Fat Goblin<img src="../../assets/pictures/skull.png" class="overlord-pic"></div>
        <div class="act-two">II</div><div class="left-pane"><img src="../../assets/pictures/shield.png" class="hero-pic">The Monster's Hoard<img src="../../assets/pictures/skull.png" class="overlord-pic"></div><div class="right-pane"><img src="../../assets/pictures/shield.png" class="hero-pic">Frozen Spire<img src="../../assets/pictures/skull.png" class="overlord-pic"></div>
    </div>

    <div id="wrapperFour" class="main-boxes">
        <div class="act-one">I</div><div class="top-pane"><img src="../../assets/pictures/shield.png" class="hero-pic">Castle Dacrion<img src="../../assets/pictures/skull.png" class="overlord-pic"></div>
        <div class="act-two">II</div><div class="left-pane"><img src="../../assets/pictures/shield.png" class="hero-pic">The Dawnblade<img src="../../assets/pictures/skull.png" class="overlord-pic"></div><div class="right-pane"><img src="../../assets/pictures/shield.png" class="hero-pic">The Desecrated Tomb<img src="../../assets/pictures/skull.png" class="overlord-pic"></div>
    </div>

    <div id="wrapperFive" class="main-boxes">
        <div class="act-one">I</div><div class="top-pane"><img src="../../assets/pictures/shield.png" class="hero-pic">The Cardinal's Plight<img src="../../assets/pictures/skull.png" class="overlord-pic"></div>
        <div class="act-two">II</div><div class="left-pane"><img src="../../assets/pictures/shield.png" class="hero-pic">Enduring the Elements<img src="../../assets/pictures/skull.png" class="overlord-pic"></div><div class="right-pane"><img src="../../assets/pictures/shield.png" class="hero-pic">The Ritual of Shadows<img src="../../assets/pictures/skull.png" class="overlord-pic"></div>
    </div>

    <div id="wrapperSix" class="main-boxes">
        <div class="act-one">I</div><div class="top-pane"><img src="../../assets/pictures/shield.png" class="hero-pic">Masquerade Ball<img src="../../assets/pictures/skull.png" class="overlord-pic"></div>
        <div class="act-two">II</div><div class="left-pane"><img src="../../assets/pictures/shield.png" class="hero-pic">Blood of Heroes<img src="../../assets/pictures/skull.png" class="overlord-pic"></div><div class="right-pane"><img src="../../assets/pictures/shield.png" class="hero-pic">The Twin Idols<img src="../../assets/pictures/skull.png" class="overlord-pic"></div>
    </div>

    <div id="wrapperSeven" class="main-boxes">
        <div class="act-one">I</div><div class="top-pane"><img src="../../assets/pictures/shield.png" class="hero-pic">Death on the Wing<img src="../../assets/pictures/skull.png" class="overlord-pic"></div>
        <div class="act-two">II</div><div class="left-pane"><img src="../../assets/pictures/shield.png" class="hero-pic">The Wyrm Turns<img src="../../assets/pictures/skull.png" class="overlord-pic"></div><div class="right-pane">The Wyrm Rises<img src="../../assets/pictures/skull.png" class="overlord-pic"></div>
    </div>

    <div id="wrapperEight" class="main-boxes">
        <div class="interlude-final">Interlude I</div><div class="final-panes"><img src="../../assets/pictures/shield.png" class="hero-pic">Shadow Vault<img src="../../assets/pictures/skull.png" class="overlord-pic"></div>
        <div class="interlude-final">Interlude II</div><div class="final-panes"><img src="../../assets/pictures/shield.png" class="hero-pic">Overlord Revealed<img src="../../assets/pictures/skull.png" class="overlord-pic"></div>
    </div>

    <div id="wrapperNine" class="main-boxes">
        <div class="interlude-final">Finale I</div><div class="final-panes"><img src="../../assets/pictures/shield.png" class="hero-pic">Gryvern Unleashed<img src="../../assets/pictures/skull.png" class="overlord-pic"></div>
        <div class="interlude-final">Finale II</div><div class="final-panes"><img src="../../assets/pictures/shield.png" class="hero-pic">The Man Who Would Be King<img src="../../assets/pictures/skull.png" class="overlord-pic"></div>
    </div>
    <br>
    <br>
    <div class="characters">
        <h3>Characters</h3>
    </div>

    <div class="row">

        <div class="col-md-3 col-xs-6">
            <p class="main-character-name">Grisban</p>
            <div><p>Gold: </p><span>0</span></div>
            <div><p>Exp: </p><span>0</span></div>
        </div>

        <div class="col-md-3 col-xs-6">
            <p class="main-character-name">Jian</p>
            <div><p>Gold: </p><span>0</span></div>
           <div><p>Exp: </p><span>0</span></div>
        </div>

        <div class="col-md-3 col-xs-6">
            <p class="main-character-name">Leoric</p>
            <div><p>Gold: </p><span>0</span></div>
            <div><p>Exp: </p><span>0</span></div>
        </div>

        <div class="col-md-3 col-xs-6">
            <p class="main-character-name"><a href="#main">Syndrael</a></p>
            <div><p>Gold: </p><span>0</span></div>
            <div><p>Exp: </p><span>0</span></div>
        </div>
    </div>
</main>
