
<div class="wrapper col-md-offset-2 col-md-8" ng-controller="EquipmentController">
    <header>
        <h2>{{carryname}}</h2>
    </header>

    <div class="description">
        <div class="description-box">
            <p>{{carrydescription}}</p>
        </div>
    </div>

    <br>
    <br>

    <div class="bottom-equip">
        <div class="equip-bottom-left">
            <p></p>
            <p>Exhaustable: {{carryexhaust}}</p>
            <p>Dice: {{carrydice}}</p>
            <p>{{carrycategory}}</p>
            <p>Gold: {{carrygold}}</p>
        </div>

        <div class="equip-bottom-right">
            <p ng-click="unequip()">Unequip</p>
        </div>
    </div>

</div>