
<div class="outer-wrapper col-md-12 ng-cloak">
<div class="wrapper col-md-offset-4 col-md-4" ng-controller="EquipmentController">
    <header>
        <h2>{{name}}</h2>
    </header>

    <div class="description">
        <div class="description-box">
         <p>{{description}}</p>
        </div>
    </div>

    <br>
    <br>

    <div class="bottom-equip">
        <div class="equip-bottom-left">
            <p></p>
            <p>Exhaustable: {{exhaust}}</p>
            <p>Dice: {{dice}}</p>
            <p>{{category}}</p>
            <p>Gold: {{gold}}</p>
        </div>

        <div class="equip-bottom-right">
            <p ng-click="equipItem()">Equip</p>
            <p ng-click="sellEquip(sell_gold)">Sell</p>
            <p><a href="#main">Main</a></p>
        </div>
    </div>

</div>
</div>


