<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/vendors/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/styles/main_syndrael_styles.css">
    <script type="text/javascript" src="/vendors/angular.min.js"></script>
    <script type="text/javascript" src="/vendors/angular-route.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/app.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/factories/data.min.js"></script>
    <title></title>
</head>
<body>
    <div class="nav">
        <ul class="nav-buttons">
            <li>
                <a href="#acts">Acts</a>
            </li>
        </ul>
    </div>

<main ng-view></main>

</body>
</html>