<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/vendors/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/styles/login_styles.css">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

    <div class="wrapper"></div>

    <div id="title">
        <h1 class="lead">Descent Journeys in the Dark</h1>
        <h4>A Game Companion</h4>
    </div>

    <div class="container">
    <form action="/" method="post">
        <div class="username-area">
            <label for="username">Username: </label>
            <input id="username" name="username" type="text">
        </div>

        <div class="teamname-area">
            <label for="team_name">Team Name:</label>
            <input id="team_name" name="team_name" type="text">
        </div>

        <div class="password-area">
            <label for="password">Password:</label>
            <input id="password" name="password" type="password">
        </div>
        <br>
        <div class="links">
            <input type="submit" value="Log In">
            <a href="/assets/views/register.html">Register</a>
        </div>
    </form>
    </div>
    <br>
    <br>
    <br>
    <footer>
        <p>Copyright: Descent Journey in the Darkness is made by Fantasy Flight Games. For more information about the table top game, visit their <a href="https://www.fantasyflightgames.com/en/products/descent-journeys-in-the-dark-second-edition/" target="_blank">homepage</a>.</p>
    </footer>
</body>
</html>